<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftwareEngineeringApp.Properties.Settings.Software_EngineerConnectionString"
            connectionString="Data Source=DESKTOP-J7QCD3H;Initial Catalog=Software_Engineer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>